@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h4>Thank you for downloading the sermons, please check download folder, for the sermons</h4>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var downloadId = '@ViewData["DownloadId"]'; // Retrieve the ID passed from the controller
        var downloadUrl = '@Url.Action("DownloadSermonsByType", "Sermons", new { id = ViewData["DownloadId"] })';

        // Redirect to the download URL
        window.location.href = downloadUrl;

        // // After initiating the download, redirect to a confirmation page (optional)
        // setTimeout(function () {
        //     window.location.href = '@Url.Action("DownloadComplete", "Sermons")';
        // }, 5000); // Adjust the timeout as needed
    });
</script>